@tailwind base;
@tailwind components;
@tailwind utilities;
@import "reset";
// @import "content";
@layer base {
  body {
    line-height: 1.5;
    // -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Epilogue", sans-serif;
    font-size: 16px;
    background-color: #091929;
    color: #b2bac2;
    font-family: "Epilogue", sans-serif;
    font-family: "Source Sans Pro", sans-serif;
  }
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  margin: auto;
}
.hidden-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
//styles tippy
.tippy-content {
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 12px;
  font-size: 16px;
}
// .k-tooltip-content {
//   height: 47px;
// }
#tippy-1 {
  .tippy-content {
    width: 241px;
  }
}
.tippy-box[data-placement^="bottom"] > .tippy-arrow:before {
  color: white;
}

#tippy-2 {
  .tippy-content {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.tool-tip {
  padding: 5px 8px;
}
